.wrapper {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #45a049;
}

.signupLink {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.signupLink a {
  color: blue;
  text-decoration: none;
}
